<div class="card card--column card--third services-card">
  <div class="services-card__img-wrap">
    <img class="services-card__img" src="{{ url }}" alt="" />
  </div>
  <div class="services-card__info-wrap">
    <h3 class="services-card__title card__title">{{ cardContent.title }}</h3>
    <ul class="services-card__list">
      <li class="card-list__item services-card__list-item">First Dance</li>
      <li class="card-list__item services-card__list-item">
        Parent & Child Dance
      </li>
    </ul>
  </div>
</div>
